<div class="<%= html_class %>" style="width: 260px; height: 40px; background-color: <%= background_color %>; border-radius: 0 25px 25px 0;">
  <div class="flex" style="padding: 10px 26px; flex: 1 1 0; overflow: hidden; text-overflow: elipsis; color: <%= text_color %>;">
    <span class="" style="">
      <i class="material-icons-outlined" style="margin-right: 20px; font-size: 20px; color: <%= icon_color %>"><%= icon %></i>
    </span>
    <span class="flex-grow" style="font-size: .875rem; letter-spacing: .01785714em;">
      <%= title %>
    </span>
    <span dir="ltr" style="font-size: .875rem;"><%= count %></span>
  </div>
</div>
