<style>

</style>

<div>
  <div>
    <h3 class="mdc-typography--subtitle1">Filled</h3>
    <div class="text-field-row">
      <div class="text-field-container">
        <%= render(Arara::TextFieldComponent, label: "Standard", class: "text-field", id: "text-field-filled", helper_text: "Helper Text") %>
      </div>
      <div class="text-field-container">
        <%= render(Arara::TextFieldComponent, label: "Standard", class: "text-field mdc-text-field--with-leading-icon", id: "text-field-filled-leading") do |component| %>
          <% component.with(:leading_icon) do %>
            <i class="material-icons mdc-text-field__icon">event</i>
          <% end %>
        <% end %>
      </div>
      <div class="text-field-container">
        <%= render(Arara::TextFieldComponent, label: "Standard", class: "text-field mdc-text-field--with-trailing-icon", id: "text-field-filled-trailing") do |component| %>
          <% component.with(:trailing_icon) do %>
            <i class="material-icons mdc-text-field__icon">delete</i>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="text-field-row">
      <div class="text-field-container">
        <%= render(Arara::TextFieldComponent, label: "Standard", has_error: true, class: "text-field", id: "text-field-filled-error", helper_text: "Helper Text") %>
      </div>
      <div class="text-field-container">
        <%= render(Arara::TextFieldComponent, label: "Standard", class: "text-field mdc-text-field--with-leading-icon mdc-text-field--error", id: "text-field-filled-leading-error") do |component| %>
          <% component.with(:leading_icon) do %>
            <i class="material-icons mdc-text-field__icon">event</i>
          <% end %>
        <% end %>
      </div>
      <div class="text-field-container">
        <%= render(Arara::TextFieldComponent, label: "Standard", class: "text-field mdc-text-field--with-trailing-icon mdc-text-field--error", id: "text-field-filled-trailing-error") do |component| %>
          <% component.with(:trailing_icon) do %>
            <i class="material-icons mdc-text-field__icon">delete</i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div>
    <h3 class="mdc-typography--subtitle1">Shapped Filled</h3>
    <div class="text-field-row">
      <div class="text-field-container">
        <%= render(Arara::TextFieldComponent, label: "Standard", class: "text-field demo-text-field-shaped", id: "text-field-shape-one") %>
      </div>
      <div class="text-field-container">
        <%= render(Arara::TextFieldComponent, label: "Standard", class: "text-field demo-text-field-shaped mdc-text-field--with-leading-icon", id: "text-field-shape-two") do |component| %>
          <% component.with(:leading_icon) do %>
            <i class="material-icons mdc-text-field__icon">event</i>
          <% end %>
        <% end %>
      </div>
      <div class="text-field-container">
        <%= render(Arara::TextFieldComponent, label: "Standard", class: "text-field demo-text-field-shaped mdc-text-field--with-trailing-icon", id: "text-field-shape-three") do |component| %>
          <% component.with(:trailing_icon) do %>
            <i class="material-icons mdc-text-field__icon">delete</i>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="text-field-row">
      <div class="text-field-container">
        <%= render(Arara::TextFieldComponent, label: "Standard", class: "text-field demo-text-field-shaped mdc-text-field--error", id: "text-field-shape-one-error") %>
      </div>
      <div class="text-field-container">
        <%= render(Arara::TextFieldComponent, label: "Standard", class: "text-field demo-text-field-shaped mdc-text-field--with-leading-icon mdc-text-field--error", id: "text-field-shape-two-error") do |component| %>
          <% component.with(:leading_icon) do %>
            <i class="material-icons mdc-text-field__icon">event</i>
          <% end %>
        <% end %>
      </div>
      <div class="text-field-container">
        <%= render(Arara::TextFieldComponent, label: "Standard", class: "text-field demo-text-field-shaped mdc-text-field--with-trailing-icon mdc-text-field--error", id: "text-field-shape-three-error") do |component| %>
          <% component.with(:trailing_icon) do %>
            <i class="material-icons mdc-text-field__icon">delete</i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div>
    <h3 class="mdc-typography--subtitle1">Outlined</h3>
    <div class="text-field-row">
      <div class="text-field-container">
        <%= render(Arara::TextFieldComponent, variant: "outlined", label: "Standard", class: "text-field", id: "text-field-outlined") %>
      </div>
      <div class="text-field-container">
        <%= render(Arara::TextFieldComponent, variant: "outlined", label: "Standard", class: "text-field mdc-text-field--with-leading-icon", id: "text-field-outlined-leading") do |component| %>
          <% component.with(:leading_icon) do %>
            <i class="material-icons mdc-text-field__icon">event</i>
          <% end %>
        <% end %>
      </div>
      <div class="text-field-container">
        <%= render(Arara::TextFieldComponent, variant: "outlined", label: "Standard", class: "text-field mdc-text-field--with-trailing-icon", id: "text-field-outlined-trailing") do |component| %>
          <% component.with(:trailing_icon) do %>
            <i class="material-icons mdc-text-field__icon">delete</i>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="text-field-row">
      <div class="text-field-container">
        <%= render(Arara::TextFieldComponent, variant: "outlined", label: "Standard", class: "text-field mdc-text-field--error", id: "text-field-outlined-outlined-error") %>
      </div>
      <div class="text-field-container">
        <%= render(Arara::TextFieldComponent, variant: "outlined", label: "Standard", class: "text-field mdc-text-field--with-leading-icon mdc-text-field--error", id: "text-field-outlined-leading-error") do |component| %>
          <% component.with(:leading_icon) do %>
            <i class="material-icons mdc-text-field__icon">event</i>
          <% end %>
        <% end %>
      </div>
      <div class="text-field-container">
        <%= render(Arara::TextFieldComponent, variant: "outlined", label: "Standard", class: "text-field mdc-text-field--with-trailing-icon mdc-text-field--error", id: "text-field-outlined-trailing-error") do |component| %>
          <% component.with(:trailing_icon) do %>
            <i class="material-icons mdc-text-field__icon">delete</i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div>
    <h3 class="mdc-typography--subtitle1">Shaped Outlined</h3>
    <div class="text-field-row">
      <div class="text-field-container">
        <%= render(Arara::TextFieldComponent, variant: "outlined", label: "Standard", class: "text-field demo-text-field-outlined-shaped", id: "text-field-outlined-shape-one") %>
      </div>
      <div class="text-field-container">
        <%= render(Arara::TextFieldComponent, variant: "outlined", label: "Standard", class: "text-field mdc-text-field--with-leading-icon demo-text-field-outlined-shaped", id: "text-field-outlined-shape-two") do |component| %>
          <% component.with(:leading_icon) do %>
            <i class="material-icons mdc-text-field__icon">event</i>
          <% end %>
        <% end %>
      </div>
      <div class="text-field-container">
        <%= render(Arara::TextFieldComponent, variant: "outlined", label: "Standard", class: "text-field mdc-text-field--with-trailing-icon demo-text-field-outlined-shaped", id: "text-field-outlined-shape-three") do |component| %>
          <% component.with(:trailing_icon) do %>
            <i class="material-icons mdc-text-field__icon">delete</i>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="text-field-row">
      <div class="text-field-container">
        <%= render(Arara::TextFieldComponent, variant: "outlined", label: "Standard", class: "text-field mdc-text-field--error demo-text-field-outlined-shaped", id: "text-field-outlined-shape-one-error") %>
      </div>
      <div class="text-field-container">
        <%= render(Arara::TextFieldComponent, variant: "outlined", label: "Standard", class: "text-field mdc-text-field--with-leading-icon mdc-text-field--error demo-text-field-outlined-shaped", id: "text-field-outlined-shape-two-error") do |component| %>
          <% component.with(:leading_icon) do %>
            <i class="material-icons mdc-text-field__icon">event</i>
          <% end %>
        <% end %>
      </div>
      <div class="text-field-container">
        <%= render(Arara::TextFieldComponent, variant: "outlined", label: "Standard", class: "text-field mdc-text-field--with-trailing-icon mdc-text-field--error demo-text-field-outlined-shaped", id: "text-field-outlined-shape-three-error") do |component| %>
          <% component.with(:trailing_icon) do %>
            <i class="material-icons mdc-text-field__icon">delete</i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div>
    <h3 class="mdc-typography--subtitle1">Text Field without label</h3>
    <div class="text-field-row">
      <div class="text-field-container">
        <%= render(Arara::TextFieldComponent, class: "text-field", id: "text-field-filled-no-label") %>
      </div>
      <div class="text-field-container">
        <%= render(Arara::TextFieldComponent, variant: "outlined", class: "text-field", id: "text-field-filled-no-label-1") %>
      </div>
      <div class="text-field-container">
        <%= render(Arara::TextFieldComponent, variant: "outlined", class: "text-field demo-text-field-outlined-shaped", id: "text-field-filled-no-label-2") %>
      </div>
    </div>

    <div class="text-field-row">
      <div class="text-field-container">
        <%= render(Arara::TextFieldComponent, class: "text-field mdc-text-field--error", id: "text-field-filled-no-label-error") %>
      </div>
      <div class="text-field-container">
        <%= render(Arara::TextFieldComponent, variant: "outlined", class: "text-field mdc-text-field--error", id: "text-field-filled-no-label-1-error") %>
      </div>
      <div class="text-field-container">
        <%= render(Arara::TextFieldComponent, variant: "outlined", class: "text-field demo-text-field-outlined-shaped mdc-text-field--error", id: "text-field-filled-no-label-2-error") %>
      </div>
    </div>
  </div>
  <div>
    <h3 class="mdc-typography--subtitle1">Text Field with Character Counter</h3>
    <div class="text-field-row">
      <div class="text-field-container">
        <%= render(Arara::TextFieldComponent, label: "Standard", class: "text-field", id: "text-field-filled-cc", max_length: 18) %>
      </div>
      <div class="text-field-container">
        <%= render(Arara::TextFieldComponent, variant: "outlined", label: "Standard", class: "text-field", id: "text-field-filled-cc-1", max_length: 18) %>
      </div>
      <div class="text-field-container">
        <%= render(Arara::TextFieldComponent, variant: "outlined", label: "Standard", class: "text-field demo-text-field-outlined-shaped", id: "text-field-filled-cc-2", max_length: 18) %>
      </div>
    </div>
  </div>
  <div>
    <h3 class="mdc-typography--subtitle1">Textarea</h3>
    <div class="text-field-container">
      <%= render(Arara::TextFieldComponent, textarea: true, label: "Standard", class: "text-field", id: "textarea-1") %>
    </div>
  </div>
  <div>
    <h3 class="mdc-typography--subtitle1">Textarea with Character Counter</h3>
    <div class="text-field-container">
      <%= render(Arara::TextFieldComponent, textarea: true, label: "Standard", class: "text-field", id: "textarea-2d", max_length: 18) %>
    </div>
  </div>
  <div>
    <h3 class="mdc-typography--subtitle1">Full Width</h3>
    <div class="text-field-row text-field-row-fullwidth">
      <div class="text-field-container">
        <%= render(Arara::TextFieldComponent, full_width: true, label: "Standard", id: "text-field-fullwidth") %>
      </div>
    </div>
  </div>
  <div>
    <h3 class="mdc-typography--subtitle1">Full Width Textarea</h3>
    <div class="text-field-row text-field-row-fullwidth">
      <div class="text-field-container">
        <%= render(Arara::TextFieldComponent, textarea: true, full_width: true, label: "Standard", id: "text-field-fullwidth") %>
      </div>
    </div>
  </div>
  <% 1.upto(50) do |n| %>
  <br />
  <% end %>
</div>
