<div class="demos-display">
  <div class="demo">
    <div>
      <a href="#/component/top-app-bar/standard" target="_blank">
        <h3 class="mdc-typography--subtitle1">Standard</h3>
      </a>
    </div>
    <div><iframe class="frame" title="Standard" src="<%= pages_url(:top_app_bar_demo_1) %>"></iframe></div>
  </div>
  <div class="demo">
    <div>
      <a href="#/component/top-app-bar/fixed" target="_blank">
        <h3 class="mdc-typography--subtitle1">Fixed</h3>
      </a>
    </div>
    <div><iframe class="frame" title="Fixed" src="<%= pages_url(:top_app_bar_demo_2) %>"></iframe></div>
  </div>
  <div class="demo">
    <div>
      <a href="#/component/top-app-bar/dense" target="_blank">
        <h3 class="mdc-typography--subtitle1">Dense</h3>
      </a>
    </div>
    <div><iframe class="frame" title="Dense" src="<%= pages_url(:top_app_bar_demo_3) %>"></iframe></div>
  </div>
  <div class="demo">
    <div>
      <a href="#/component/top-app-bar/prominent" target="_blank">
        <h3 class="mdc-typography--subtitle1">Prominent</h3>
      </a>
    </div>
    <div><iframe class="frame" title="Prominent" src="<%= pages_url(:top_app_bar_demo_4) %>"></iframe></div>
  </div>
  <div class="demo">
    <div>
      <a href="#/component/top-app-bar/short" target="_blank">
        <h3 class="mdc-typography--subtitle1">Short</h3>
      </a>
    </div>
    <div><iframe class="frame" title="Short" src="<%= pages_url(:top_app_bar_demo_5) %>"></iframe></div>
  </div>
  <div class="demo">
    <div>
      <a href="#/component/top-app-bar/short-collapsed" target="_blank">
        <h3 class="mdc-typography--subtitle1">Short - Always Collapsed</h3>
      </a>
    </div>
    <div><iframe class="frame" title="Short - Always Collapsed" src="<%= pages_url(:top_app_bar_demo_6) %>"></iframe></div>
  </div>
</div>
